body {
    background-color: #2C2F33;
    size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    overflow: hidden;
}

.hero {
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    padding: 10% 0;
    font-size: 20pt;
    
}
.hero p {
    line-height: 1.2em;
}

.page-header {
    background-color: #2C2F33;
}

.logo-text {
    vertical-align: middle;
    font-size:50px;
}

.typewrite {
    text-decoration: none;
}

.typewrite > .wrap {
    color: #FFFFFF;
}

.button {
    display: inline-block;
    border: 1px solid #fff;
    text-transform: uppercase;
    color: black;
    border-radius: 2px;
    padding: 10pt;
    margin-top: 20px;
    background-color: #5865F2;
    text-align: center;
    
}

.button a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}