body {
    background-color: #2C2F33;
    size: 100%;
}

.topbar {
    background-color: #23272A;

    height: 75%;
    width: 100%;
    position: absolute;
    margin: auto;

    top: 0px;
    left: 0px;

    color: #FFFFFF;
    text-align: center;

    text-decoration: none;
}

.topbar-left {
    float: left;
    font-size: 50px;
    left: 5px;
}

.topbar-left a {
    font-size: 100%;
}

.topbar-right {
    float: right;
}

.logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }